h1 {
        border: 4px solid black;
        color: white;
        background-color: black;
       padding-top: 10px;
        padding-left: 20px;
        padding-right:20px;
        padding-bottom:20px;
        text-align: center;
        padding: 1em
    }
    div {
            border: 3px solid black;
            background-color: red;
            padding-top: 30px;
            padding-left: 30px;      
            padding-right: 30px;
            padding-right:30px;
}
    b {
        color:black
            background-color: white;
       
        
    }
  div + i {
        color: black;
        background-color: white;
    }
       body {
        background-image:url ("https://s-media-cache-ak0.pinimg.com/originals/e8/61/ff/e861ff7ddc5499a4751075e322b447fa.jpg");
               
    }
   div + li {
        color:black;
        background-color: white;
    }
    footer {
        color: White;
        background-color: Black;
        text-align: center;
        padding:2em
    }   
